:root {
	--bg-color: #fefefe;
	--b-radius: 4px;
    --win-color: #9fcc2e;
    --lose-color: #cc2e38;
}

* {
	box-sizing: border-box;
}

body {
	font-family: system-ui;
	background-color: var(--bg-color);
}

button:disabled {
	filter: grayscale(1);
	cursor: not-allowed;
}

button:not(:disabled) {
	cursor: pointer;
}

.blurry-hover:hover {
	box-shadow: inset 0 0 10px #aaa, 0 0 10px 1px var(--clr, gray);
}

.main-content {
	--shadow-color: rgb(100 100 100 / 30%);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 80vmin;
	max-height: 80vmin;
	padding: 7rem;
	box-shadow: 3px 3px 10px var(--shadow-color), inset 3px 3px 10px rgb(100 100 100 / 0.2);
	border-radius: var(--b-radius);
	border: 2px solid transparent;
}

.main-content.fixed-status {
	--color: #ccc;
	border-color: var(--color);
	--shadow-color: var(--color);
}

.main-content.win {
	--color: var(--win-color);
}

.main-content.lose {
	--color: var(--lose-color);
}

.main-content .game-button {
	--clr: #ccc;
	--size: 120px;
	background-color: var(--clr);
	width: var(--size);
	height: var(--size);
	font-weight: 600;
	border: none;
	transition: box-shadow 0.2s ease-out;
}

.main-content .game-button.circular{
	border-radius: 50%;
}

.main-content .game-button.reset-button {
	--size: 50px;
	--clr: #303030;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 0.8em;
	border-radius: 50%;
	border: none;
	color: #fff;
}

.game-container {
	display: grid;
	gap: 50px;
	grid-gap: 50px;
	grid-template-areas:
		'Label   Label'
		'ButtonL ButtonR';
}

.game-container .label {
	grid-area: Label;
}

.game-container .button-l {
	grid-area: ButtonL;
}

.game-container .button-r {
	grid-area: ButtonR;
}

.game-container .game-label {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
}

.game-container .game-button {
	font-size: 2em;
}

.game-container .higher-bet {
	--clr: var(--win-color);
}

.game-container .lower-bet {
	--clr: var(--lose-color);
	color: white;
}

.main-content .game-status {
	position: absolute;
	bottom: 0;
	border-top: #ccc 1px solid;
	box-shadow: 0 -2px 10px -5px #aaa;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
}

.main-content .game-status .current-card {
	grid-column-start: span 2;
}

.game-settings {
	display: grid;
	gap: 10px;
	grid-gap: 10px;
	position: absolute;
	padding: 1.5rem 1rem;
	background-color: var(--bg-color);
	justify-items: center;
	align-content: center;
	border: 1px solid #ccc;
	border-radius: var(--b-radius);
}

.game-settings:not([open]) {
	display: none;
}

.game-settings * {
	width: 100%;
}

.game-settings__select {
	padding: 10px;
	margin-top: 5px;
}

.game-settings__start-button {
	--clr: #9fcc2e;
	border: 1px solid #ccc;
	border-radius: var(--b-radius);
	padding: 8px 15px;
	background-color: var(--clr);
}
